@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

h1 {
  font-family: "Noto Sans";
}

.card-title > h2 {
  font-family: "Inter";
}

label {
  font-family: "Inter";
}

#moneyInput {
  font-family: "Montserrat";
}

#moneyInput::placeholder {
  font-family: "Montserrat";
  font-weight: 400;
}

.countries-select label {
  font-family: "Montserrat";
}

.countries-select select {
  font-family: "Montserrat";
}

.countries-select select option {
  font-family: "Montserrat";
}

#convertBtn {
  font-family: "Inter";
}

#resultContainer {
  font-family: "Inter";
}
